@import 'global.scss';
@import "@ionic/core/css/ionic.bundle.css";
ion-button {
    --background: #0054e9;
    --color: white;
    font-weight: bold;
    border-radius: 10px;
}
ion-app{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ion-page{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    contain: layout size style;
    z-index: 0;
}
ion-header{
    display: block;
    position: relative;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    z-index: 10;
}
.header-ios ion-toolbar:last-of-type{
    --border-width: 0 0 0.55px;
}
ion-header ion-toolbar:first-of-type {
    padding-top: var(--ion-safe-area-top, 0);
}
.toolbar-background {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    background: var(--background);
    contain: strict;
    opacity: calc(var(--opacity) * var(--opacity-scale));
    z-index: -1;
    pointer-events: none;
}
.toolbar-container {
    -webkit-padding-start: var(--padding-start);
    padding-inline-start: var(--padding-start);
    -webkit-padding-end: var(--padding-end);
    padding-inline-end: var(--padding-end);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    min-height: var(--min-height);
    contain: content;
    overflow: hidden;
    z-index: 10;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ion-padding[_ngcontent-ng-c2118630515] {
    --padding-start: var(--ion-padding, 16px);
    --padding-end: var(--ion-padding, 16px);
    --padding-top: var(--ion-padding, 16px);
    --padding-bottom: var(--ion-padding, 16px);
    -webkit-padding-start: var(--ion-padding, 16px);
    padding-inline-start: var(--ion-padding, 16px)
    --ion-padding is not defined;
    -webkit-padding-end: var(--ion-padding, 16px);
    padding-inline-end: var(--ion-padding, 16px);
    padding-top: var(--ion-padding, 16px);
    padding-bottom: var(--ion-padding, 16px);
}
